<%= link_to store_path(store), class: "block transition-transform hover:scale-105" do %>
  <div class="w-64 h-80 bg-white rounded-xl shadow-lg overflow-hidden flex flex-col">
    <div class="h-2/3 overflow-hidden">
      <%= image_tag store.img_url, class: "w-full h-full object-cover transition-transform hover:scale-110" %>
    </div>
    <div class="p-4 flex-grow flex flex-col justify-between">
      <h3 class="text-lg font-semibold text-gray-800 mb-2"><%= store.name.truncate(20) %></h3>
      <div class="flex items-center justify-between">
        <span class="inline-flex items-center rounded-full bg-blue-100 px-3 py-1 text-sm font-medium text-blue-800">
          <%= store.cashback %>
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
        </svg>
      </div>
    </div>
  </div>
<% end %>
