<h1 class="text-4xl font-bold text-center mt-20 mb-12 text-white relative z-10">
  <span class="relative inline-block">
    Popular Stores
    <span class="absolute bottom-0 left-0 top-10 w-full h-2 bg-blue-500 transform -skew-x-12"></span>
  </span>
</h1>
<div class="flex flex-wrap justify-center gap-6 p-5">
  <% if @stores.any? %>
    <% @stores.each do |store| %>
      <%= render partial: 'store_card', locals: { store: store } %>
    <% end %>
  <% else %>
    <div class="flex flex-row justify-center">
      <h1>No Stores Found</h1>
    </div>
  <% end %>
</div>
